.comment {
  margin-top: 16px;
  padding-left: 27px;
  border-left: solid 3px var(--accent-color);

  &__user {
    color: #017db5;
    cursor: pointer;
  }

  &__body {
    margin-bottom: 8px;

    span {
      word-break: break-word;
    }
  }

  &__action {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    gap: 6px;
  }
}
